*,
*:before,
*:after {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Opens Sans', sans-serif;
    font-weight: 400;
    color: hsl(243, 87%, 12%);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-bottom: 1rem;
    line-height: 1.5;
}

h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.navigation-section,
header,
footer,
.productivity,
.window {
    padding: 4rem;
}

.header-section {
    padding-bottom: 4rem;
}

.productivity {
    padding-top: 2rem;
}

.window,
footer {
    padding: 8rem 5rem 5rem;
    color: hsl(360, 100%, 100%);
}

.header-right,
.recommend,
.window-text {
    padding-right: 6rem;
}

.btn,
.form-control,
.testimonial {
    -webkit-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.47);
}

.btn,
.form-control {
    font-size: 14px;
    border-radius: 2px;
    margin-top: 1rem;
}


/* ----------------NAVIGATION---------------- */

.nav-link {
    color: hsl(0, 0%, 57%);
    margin-left: 3rem;
}

.navbar-collapse {
    flex-grow: 0;
}


/* ----------------HEADER---------------- */

.btn-header {
    width: 100%;
    padding: 10px 0;
}

.form-control {
    padding: 11px 20px;
}


/* ----------------PRODUCTIVITY---------------- */

.multi-bg {
    height: 100px;
    background-image: url(/images/bg-curve-desktop.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.productivity {
    background-color: hsl(240, 75%, 98.5%);
}

h2 {
    font-size: 40px;
}

.fylo {
    color: hsl(170, 45%, 43%);
    text-underline-position: under;
}

.fylo:hover,
.fylo:active {
    color: hsl(170, 45%, 63%);
}


/* ----------------TESTIMONIAL---------------- */

.testimonial {
    background-color: hsl(360, 100%, 100%);
    border-radius: 8px;
    padding: 1.5rem 2rem;
    line-height: 1.75;
    margin-top: 3rem;
}

.name-ceo {
    padding-top: 8px;
}

.avatar {
    width: 80px;
    height: 55px;
}

.ceo {
    font-size: 10px;
}


/* ----------------WINDOW---------------- */

.window {
    background-color: hsl(238, 22%, 44%);
}

.btn-window {
    padding: 10px 30px;
}


/* ----------------FOOTER---------------- */

footer {
    background-color: hsl(243, 87%, 12%);
    line-height: 2.5;
}

.phone,
.email {
    padding-right: 15px;
}

ul {
    list-style: none;
}

.list {
    padding-left: 2rem;
}


/* About us, Contact us extra styling */

.footer-list {
    /* pointer cursor to indicates to the user that its clickable */
    cursor: pointer;
}


/*targeting the first li*/

.footer-list>li:first-of-type {
    /*bigger font size for the header of the list*/
    font-size: 1.3rem;
    /* default cursor */
    cursor: default;
}


/* socials icons extra styling */


/* targeting the icons on hover state */

.social-icons i:hover {
    cursor: pointer;
    /* the color is up to you :) */
    color: rgb(78, 78, 230);
    border-color: rgb(78, 78, 230);
}

.fab {
    border: 1px solid hsl(360, 100%, 100%);
    font-size: 18px;
    padding: 15px;
    margin: 0 0.5rem;
}

.fa-facebook-f {
    padding: 15px 18px;
}

.logo-footer {
    padding-bottom: 1rem;
}


/* // X-Small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .navigation-section {
        padding: 2rem 1rem 5rem;
    }
    .nav-link {
        margin-left: 0;
    }
    .ills-1,
    .ills-2 {
        padding-bottom: 3rem;
    }
    .textarea {
        text-align: center;
    }
    .btn,
    .form-control {
        width: 100% !important;
        text-align: center;
        margin: 0.5rem auto;
    }
    .multi-bg {
        height: 100px;
        background-image: url(/images/bg-curve-mobile.svg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .testimonial {
        width: 100% !important;
        margin: 1rem 0;
    }
    .relate {
        display: grid;
        grid-template: "avatar ceo"/80px;
    }
    .navbar-collapse {
        text-align: center;
    }
}


/* // Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
    header,
    .productivity {
        padding: 1rem;
    }
    .btn-header {
        padding: 10px 60px;
    }
}


/* // Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    .window {
        padding: 1rem;
    }
    .header-section,
    .productivity {
        display: flex;
        flex-direction: column-reverse;
    }
    .phone,
    .email {
        padding-bottom: 1rem;
    }
    ul {
        display: contents;
    }
    .list {
        padding: 2rem 0 1rem;
    }
    .social-icons {
        text-align: center;
        padding: 2rem;
    }
}


/* // Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {
    footer {
        padding: 2rem;
    }
    .header-right,
    .recommend,
    .window-text {
        padding-right: 0;
    }
}


/* // X-Large devices (large desktops, less than 1400px) */

@media (max-width: 1399.98px) {
    .testimonial {
        width: 100% !important;
    }
}